# rTorrent and Flood Web UI

[![Release][release-shield]][release] ![Project Stage][project-stage-shield] ![Project Maintenance][maintenance-shield]

rTorrent with Flood Web UI add-on for Hass.io.

## About

rTorrent is a text-based ncurses BitTorrent client written in C++, based on the libTorrent whose goal is focus on high performance and good code.

Flood is a monitoring service for rTorrent. It's a Node.js service that communicates with rTorrent instances and serves a decent web UI for administration. It's a work-in-progress

[forum]: https://community.home-assistant.io?u=grunjol
[maintenance-shield]: https://img.shields.io/maintenance/yes/2020.svg
[project-stage-shield]: https://img.shields.io/badge/project%20stage-production%20ready-brightgreen.svg
[release-shield]: https://img.shields.io/badge/version-{{ version }}-blue.svg
[release]: {{ repo }}/tree/{{ version }}
